.route-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.route-details {
    flex-grow: 1;
    margin-right: 20px;
}

.route-price-reserve {
    text-align: right;
    min-width: 200px;
}

.route-price {
    font-size: 2em;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.route-reserve-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

.route-reserve-button:hover {
    background-color: #0056b3;
}

.flight-list {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.flight-list li {
    margin-bottom: 12px;
}

.company-list {
    font-size: 0.9em;
}

.flight-time {
    font-weight: bold;
}

.flight-planets {
    font-size: 0.9em;
}

.flight-duration {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.total-distance {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.company-name {
    color: #007bff;
}

.planet-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.planet-input input {
    border: none;
    outline: none;
    flex-grow: 1;
    margin-left: 5px;
}

.planet-input button {
    background: none;
    border: none;
    cursor: pointer;
}

.company-dropdown {
    position: relative;
}

.company-dropdown-button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    z-index: 1000;
    display: none;
}

.company-dropdown-list.show {
    display: block;
}

.company-dropdown-list label {
    display: block;
    padding: 5px;
}

.input-row {
    display: flex;
    align-items: center;
}

.input-row > * {
    margin-right: 10px;
}

.arrow-icon {
    margin: 0 10px;
    font-size: 1.5em;
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}